@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>
<hr />
<h3>Stylist Name: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h3>
<h4>Stylist Specialty: @Html.DisplayFor(model => model.Details)</h4>
<p>Back to @Html.ActionLink("Stylist List", "Index")</p>
<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId} )</p>
<p>@Html.ActionLink("Remove Stylist", "Delete", new { id = Model.StylistId })</p>