@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit</h2>

<h4>Edit this Client's details: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.FirstName)
  @Html.EditorFor(model => model.FirstName)

  @Html.LabelFor(model => model.LastName)
  @Html.EditorFor(model => model.LastName)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  <input type="submit" value="Save" />
}
<p>Back to @Html.ActionLink("Client List", "Index")</p>