@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2><div class="clientEdit">Edit</div></h2>

<h4>Edit this Client's details: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
<div class="createForms">
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.FirstName, "First Name: ")
  @Html.EditorFor(model => model.FirstName)
  <br>
  @Html.LabelFor(model => model.LastName, "Last Name: ")
  @Html.EditorFor(model => model.LastName)
  <br>
  @Html.LabelFor(model => model.Description, "Appointment Description: ")
  @Html.EditorFor(model => model.Description)
  <br>
  @Html.LabelFor(model => model.Stylist, "Stylist: ")
  @Html.DropDownList("StylistId")
  <br>
  <input type="submit" value="Save" />
}
</div>
<div class="links">
  <p>Back to @Html.ActionLink("Stylist List", "Index", "Stylists")</p>
</div>